[submodule "lib/cpp-subprocess"]
	path = lib/cpp-subprocess
	url = https://github.com/arun11299/cpp-subprocess.git
[submodule "lib/args"]
	path = lib/args
	url = https://github.com/Taywee/args.git
[submodule "lib/cpp-feather-ini-parser"]
	path = lib/cpp-feather-ini-parser
	url = https://github.com/Turbine1991/cpp-feather-ini-parser.git
[submodule "lib/boost-filesystem"]
	path = lib/boost-filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "lib/boost-regex"]
	path = lib/boost-regex
	url = https://github.com/boostorg/regex.git
[submodule "lib/boost-system"]
	path = lib/boost-system
	url = https://github.com/boostorg/system.git
[submodule "lib/boost-config"]
	path = lib/boost-config
	url = https://github.com/boostorg/config.git
