[submodule "lib/args"]
	path = lib/args
	url = https://github.com/Taywee/args.git
[submodule "lib/boost-exception"]
	path = lib/boost-exception
	url = https://github.com/boostorg/exception.git
[submodule "lib/CImg"]
	path = lib/CImg
	url = https://github.com/dtschump/CImg.git
[submodule "lib/linuxdeploy-desktopfile"]
	path = lib/linuxdeploy-desktopfile
	url = https://github.com/linuxdeploy/linuxdeploy-desktopfile
[submodule "lib/cmake-scripts"]
	path = lib/cmake-scripts
	url = https://github.com/linuxdeploy/cmake-scripts.git
